<div class="tab-pane" id="home1" role="tabpanel">
    <div class="d-flex">
        <div class="flex-shrink-0">
            <i class="ri-checkbox-multiple-blank-fill text-success"></i>
        </div>
        <div class="flex-grow-1 ms-2">
            Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR.
            <div class="mt-2">
                <a href="javascript:void(0);" class="btn btn-sm btn-soft-primary">Read More <i class="ri-arrow-right-line ms-1 align-middle"></i></a>
            </div>
        </div>
    </div>
</div>