

  {% load static %}
  {% for admin in page_obj %}
  <tr id="admin-{{ admin.pk }}">
      {% comment %} <th scope="row ">
         <div class="form-check">
            <input class="form-check-input" type="checkbox" name="chk_child" value="option1" id="admin-{{admin.superadmin.pk }}">
         </div>
      </th> {% endcomment %}
      <td class="phone">{{forloop.counter}}</td>
     
      <td>
        {% if admin.profile_pic %}
        <div class="d-flex align-items-center">
         <div class="flex-shrink-0 me-2">
             {% comment %} <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle"> {% endcomment %}
             <img src="{{admin.profile_pic.url}}" alt="" class="avatar-xs rounded-circle me-2">
         </div>
         <div class="flex-grow-1">{{admin.superadmin.first_name}} {{admin.superadmin.last_name}}</div>
     </div>




        
        {% else %}
        <div class="d-flex align-items-center">
         <div class="flex-shrink-0 me-2">
             {% comment %} <img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xs rounded-circle"> {% endcomment %}
             {% comment %} <img src="{{admin.profile_pic.url}}" alt="" class="avatar-xs rounded-circle me-2"> {% endcomment %}
             <i class="bx bx-user-circle text-warning fs-2"></i>
         </div>
         <div class="flex-grow-1">{{admin.superadmin.first_name}} {{admin.superadmin.last_name}}</div>
     </div>
        {% comment %} <i class="bx bx-user-circle text-warning "></i> {% endcomment %}
        {% endif %}
        {% comment %} <a href="#javascript: void(0);" class="text-body fw-medium">{{admin.user.first_name}} {{admin.user.last_name}}</a> {% endcomment %}
      </td>
      <td class="phone">{{admin.superadmin.email}}</td>
      <td class="date">{{admin.mobile}}</td>
      <td>
         <div class="d-flex gap-2">
            <div class="edit">
               <button class="btn btn-sm btn-primary edit-item-btn" hx-get="{% url 'edit_admin' pk=admin.superadmin.pk %}" hx-target="#dialog">Edit</button>
            </div>
            <div class="remove">
               {% comment %} <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal">Remove</button> {% endcomment %}
               <button class="btn btn-sm btn-danger remove-item-btn" 
           hx-delete="{% url 'delete_admin' pk=admin.superadmin.pk %}" 
           hx-confirm="Are you sure you want to delete this admin?"
           hx-target="#admin-{{ admin.pk }}"
           hx-swap="outerHTML"
           hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
      Remove
   </button>
            </div>
         </div>
      </td>
  </tr>
  {% endfor %}

  
  <div class="d-flex justify-content-end">
   <div class="pagination-wrap hstack gap-2" style="width: 2px;">
      <!-- Previous Page Button -->
      {% if page_obj.has_previous %}
      <a class="page-item pagination-prev" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}">First</a>

      <a class="page-item pagination-prev" hx-get="{% url 'admin_list' %}?page={{ page_obj.previous_page_number }}&search={{ search_query }}" hx-target="#search-results">
         Previous
      </a>
      {% endif %}

      <!-- Numbered Page Links -->
      <ul class="pagination listjs-pagination mb-0">
          {% for num in page_obj.paginator.page_range|slice:":3" %}
              {% if page_obj.number == num %}
                  <li class="page-item active">
                      <a class="page-link" href="javascript:void(0);">{{ num }}</a>
                  </li> <!-- Current page -->
               {% else %}
               <li class="page-item">
                  <a class="page-link" hx-get="{% url 'admin_list' %}?page={{ num }}&search={{ search_query }}" hx-target="#search-results">{{ num }}</a>
              </li>
              {% endif %}

             
          {% endfor %}
          {% if page_obj.paginator.num_pages > 3 %}
          <li class="page-item"><span class="page-link">...</span></li>
          <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %}active{% endif %}">
            <a class="page-link" hx-get="{% url 'admin_list' %}?page={{ page_obj.paginator.num_pages }}&search={{ search_query }}" hx-target="#search-results">{{ page_obj.paginator.num_pages }}</a>
          </li>
        
          {% endif %}
      </ul>

      <!-- Next Page Button -->
      {% if page_obj.has_next %}
      <a class="page-item pagination-next" hx-get="{% url 'admin_list' %}?page={{ page_obj.next_page_number }}&search={{ search_query }}" hx-target="#search-results">
         Next
      </a>
      {% endif %}
   </div>
</div>

