{% extends "crm/base/base.html" %}
{% block main-content %}

<div class="page-content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Search</h4>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <div id="table-search"></div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->




    </div>
    <!-- container-fluid -->
</div>
{% endblock main-content %}