{% extends "crm/base/base.html" %}
{% load static %}
{% block main-content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="profile-foreground position-relative mx-n4 mt-n4">
            <div class="profile-wid-bg bg-transparent border-top">
                <!-- <img src="assets/images/profile-bg.jpg" alt="" class="profile-wid-img" /> -->
            </div>
        </div>
        <div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
            <div class="row g-4">
                <div class="col-auto">
                    <div class="avatar-lg">
                        <img src="{% static "assets/images/users/avatar-1.jpg" %}" alt="user-img" class="img-thumbnail rounded-circle">
                    </div>
                </div>
                <!--end col-->
                <div class="col">
                    <div class="p-2">
                        <h3 class="mb-1">{{request.user}}</h3>
                        <p class="text-muted"> {% if request.user.user_type == '2' %}Admin {% elif request.user.user_type == '3' %}Employee {% elif request.user.user_type == '4' %}Agent {% elif request.user.user_type == '5' %}OutSource Agent {% endif %} </p>
                        <div class="hstack text-muted gap-1">
                            {% comment %} <div class="me-2"><i class="ri-map-pin-user-line me-1 fs-16 align-bottom text-body"></i>California, United States</div>
                            <div>
                                <i class="ri-building-line me-1 fs-16 align-bottom text-body"></i>Themesbrand
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
                <!--end col-->
                
                <!--end col-->

            </div>
            <!--end row-->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div class="d-flex profile-wrapper">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link fs-14 active" data-bs-toggle="tab" href="#overview-tab" role="tab">
                                    <i class="ri-airplay-fill d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Profile</span>
                                </a>
                            </li>
                           
                            
                            
                        </ul>
                        <div class="flex-shrink-0">
                            <a href="{% url "profile_setting" %}" class="btn btn-success"><i class="ri-edit-box-line align-bottom"></i> Edit Profile</a>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content pt-4 text-muted">
                        <div class="tab-pane active" id="overview-tab" role="tabpanel">
                            <div class="row">
                                <div class="col-xxl-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-5">Complete Your Profile</h5>
                                            <div class="progress animated-progress custom-progress progress-label">
                                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="label">100%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-3">Info</h5>
                                            <div class="table-responsive">
                                                <table class="table table-borderless mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Full Name :</th>
                                                            
                                                            <td class="text-muted">{% if user.user_type == '2' %}{{superadmin.users}} {% elif user.user_type == '3' %} {{employee.users}} {% elif user.user_type == '4' %} {{agent.users}} {% elif user.user_type == '5' %} {{outsourcing_agent.users}} {% endif %}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Mobile :</th>
                                                            <td class="text-muted">{% if user.user_type == '2' %}{{superadmin.contact_no}} {% elif user.user_type == '3' %} {{employee.contact_no}} {% elif user.user_type == '4' %} {{agent.contact_no}} {% elif user.user_type == '5' %} {{outsourcing_agent.contact_no}} {% endif %}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">E-mail :</th>
                                                            <td class="text-muted">{% if user.user_type == '2' %}{{superadmin.users.email}} {% elif user.user_type == '3' %} {{employee.users.email}} {% elif user.user_type == '4' %} {{agent.users.email}} {% elif user.user_type == '5' %} {{outsourcing_agent.users.email}} {% endif %}</td>
                                                        </tr>
                                                        {% if user.user_type == '3' %}   
                                                        <tr>
                                                            <th class="ps-0" scope="row">Location :</th>
                                                            <td class="text-muted">{{employee.Address|default:"Address not available"}}
                                                            </td>
                                                        </tr>
                                                        {% elif user.user_type == '4' %}
                                                        <tr>
                                                            <th class="ps-0" scope="row">Location :</th>
                                                            <td class="text-muted">{{agent.Address|default:"Address not available"}}
                                                            </td>
                                                        </tr>
                                                        {% elif user.user_type == '5' %}
                                                        <tr>
                                                            <th class="ps-0" scope="row">Location :</th>
                                                            <td class="text-muted">{{outsourcing_agent.Address|default:"Address not available"}}
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                        {% comment %} <tr>
                                                            <th class="ps-0" scope="row">Joining Date</th>
                                                            <td class="text-muted"> {% if user.user_type == '3' %} {{employee.created}} {% elif user.user_type == '4' %} {{agent.registeron}} {% elif user.user_type == '5' %} {{outsourcing_agent.registeron}} {% endif %}</td>
                                                        </tr> {% endcomment %}
                                                        {% if user.user_type == '3' or user.user_type == '4' or user.user_type == '5' %}
                                                            <tr>
                                                                <th class="ps-0" scope="row">Joining Date</th>
                                                                <td class="text-muted">
                                                                    {% if user.user_type == '3' %}
                                                                        {{ employee.created }}
                                                                    {% elif user.user_type == '4' %}
                                                                        {{ agent.registeron }}
                                                                    {% elif user.user_type == '5' %}
                                                                        {{ outsourcing_agent.registeron }}
                                                                    {% endif %}
                                                                </td>
                                                            </tr>
                                                        {% endif %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- end card body -->
                                    </div><!-- end card -->

                                   
                                </div>
                               
                            </div>
                            <!--end row-->
                        </div>
                       
                        <!--end tab-pane-->
                    </div>
                    <!--end tab-content-->
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->

    </div><!-- container-fluid -->
</div><!-- End Page-content -->
{% endblock main-content %}