{% extends "crm/base/base.html" %}
{% load static %}
{% block main-content %}
<div class="page-content">
   <div class="container-fluid">
      {% include "crm/components/enquiry_Section.html" %} 
      <div class="row">
         <div class="col-lg-12">
            <div>
               <div class="d-flex profile-wrapper">
                  <!-- Nav tabs -->
                  <ul class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1">
                     <li class="nav-item">
                        <a class="nav-link fs-14" href="{% url "personal_info" enquiry.id %}">
                        <i class="ri-airplay-fill d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Personal Info</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link fs-14 active"  href="#">
                        <i class="ri-list-unordered d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Other Details</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link fs-14"  href="{% url "edit_product_details" enquiry.id %}" >
                        <i class="ri-price-tag-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Product Selection</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link fs-14" href="{% url "enq_documents" enquiry.id %}">
                        <i class="ri-folder-4-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Documents</span>
                        </a>
                     </li>
                  </ul>
               </div>
               <!-- Tab panes -->
               <!-- Accordions Bordered -->
               <form action="" method="POST">
                {% csrf_token %}
               <div class="mt-4 mb-2 accordion custom-accordionwithicon custom-accordion-border accordion-border-box accordion-secondary" id="accordionBordered">
                  <div class="accordion-item mt-2">
                     <h2 class="accordion-header" id="accordionborderedExample2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapse2" aria-expanded="false" aria-controls="accor_borderedExamplecollapse2">
                        Educational Details
                        </button>
                     </h2>
                     <div id="accor_borderedExamplecollapse2" class="accordion-collapse collapse" aria-labelledby="accordionborderedExample2" data-bs-parent="#accordionBordered">
                        <div class="accordion-body">
                           <div>
                              <div class="row gy-4 mb-2">
                                 <div class="col-xxl-3 col-md-6">
                                    <label class="form-label" for="highest_education">Highest Level Of Education</label>
                                    <select class="form-select" name="highest_education" id="title">
                                       <option value="Select">Select</option>
                                       <option value="Grade 1" {% if education_summary.highest_level_education == "Grade 1" %}selected{% endif %}>Grade 1</option>
                                       <option value="Grade 2" {% if education_summary.highest_level_education == "Grade 2" %}selected{% endif %}>Grade 2</option>
                                       <option value="Grade 3" {% if education_summary.highest_level_education == "Grade 3" %}selected{% endif %}>Grade 3</option>
                                       <option value="Grade 4" {% if education_summary.highest_level_education == "Grade 4" %}selected{% endif %}>Grade 4</option>
                                       <option value="Grade 5" {% if education_summary.highest_level_education == "Grade 5" %}selected{% endif %}>Grade 5</option>
                                       <option value="Grade 6" {% if education_summary.highest_level_education == "Grade 6" %}selected{% endif %}>Grade 6</option>
                                       <option value="Grade 7" {% if education_summary.highest_level_education == "Grade 7" %}selected{% endif %}>Grade 7</option>
                                       <option value="Grade 8" {% if education_summary.highest_level_education == "Grade 8" %}selected{% endif %}>Grade 8</option>
                                       <option value="Grade 9" {% if education_summary.highest_level_education == "Grade 9" %}selected{% endif %}>Grade 9</option>
                                       <option value="Grade 10" {% if education_summary.highest_level_education == "Grade 10" %}selected{% endif %}>Grade 10</option>
                                       <option value="Grade 11" {% if education_summary.highest_level_education == "Grade 11" %}selected{% endif %}>Grade 11</option>
                                       <option value="Grade 12" {% if education_summary.highest_level_education == "Grade 12" %}selected{% endif %}>Grade 12</option>
                                       <option value="1 Year Post Secondary Certificate" {% if education_summary.highest_level_education == "1 Year Post Secondary Certificate" %}selected{% endif %}>1 Year Post
                                       Secondary Certificate</option>
                                       <option value="2 Year Undergraduate Diploma" {% if education_summary.highest_level_education == "2 Year Undergraduate Diploma" %}selected{% endif %}>2 Year
                                       Undergraduate Diploma</option>
                                       <option value="2 Year Undergraduate Advance Diploma" {% if education_summary.highest_level_education == "2 Year Undergraduate Advance Diploma" %}selected{% endif %}>2 Year
                                       Undergraduate Advance Diploma</option>
                                       <option value="3 Year Bachelors Degree" {% if education_summary.highest_level_education == "3 Year Bachelors Degree" %}selected{% endif %}>3 Year Bachelors Degree
                                       </option>
                                       <option value="4 Year Bachelors Degree" {% if education_summary.highest_level_education == "4 Year Bachelors Degree" %}selected{% endif %}>4 Year Bachelors Degree
                                       </option>
                                       <option value="Postgraduate Certificate/Diploma" {% if education_summary.highest_level_education == "Postgraduate Certificate/Diploma" %}selected{% endif %}>Postgraduate
                                       Certificate/Diploma</option>
                                       <option value="Masters Degree" {% if education_summary.highest_level_education == "Masters Degree" %}selected{% endif %}>Masters Degree</option>
                                       <option value="Doctoral Degree" {% if education_summary.highest_level_education == "Doctoral Degree" %}selected{% endif %}>Doctoral Degree</option>
                                    </select>
                                 </div>
                                 <!--end col-->
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="gradingscheme" class="form-label">Grading Scheme</label>
                                    <input type="text" name="gradingscheme" id="gradingscheme"class="form-control border-left-0"placeholder="Enter Grading Scheme" value="{{education_summary.grading_scheme}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label class="form-label" for="id_email">Grade Average</label>
                                    <input type="text" name="gradeaverage" id="gradeaverage"class="form-control border-left-0"placeholder="Enter Grade Average" value="{{education_summary.grade_avg}}">
                                 </div>
                                 <!--end col-->
                                 <!--end col-->
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="id_Dob" class="form-label">Are you a recent graduate ?</label><br>
                                    <input class="form-check-input" type="checkbox" value="True"id="college" name="recent_college" {% if education_summary.recent_college == True  %}checked{% endif %}>
                                 </div>
                                 <hr>
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="id_Gender" class="form-label">Country Of Education </label>
                                    <input type="text" name="educationcountry" id="educationcountry"class="form-control border-left-0"placeholder="Enter Country Of Education" value="{{education_summary.country_of_education}}" >
                                 </div>
                                 <!--end col-->
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="id_Country" class="form-label">Name Of Last Institution</span></label>
                                    <input type="text" name="institutename" id="institutename"class="form-control border-left-0"placeholder="Name Of Institution" value="{{education_summary.name_of_institution}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="id_Country" class="form-label">Date Attended From</span></label>
                                    <input type="date" name="institutionfrom"id="institutionfrom" class="form-control border-left-0" placeholder="Attended Institution From" value="{{education_summary.institution_from|date:"Y-m-d"}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="id_Country" class="form-label">Date Attended Till</span></label>
                                    <input type="date" name="institutionto" id="institutionto"class="form-control border-left-0"placeholder="Attended Institution Form" value="{{education_summary.institution_to|date:"Y-m-d"}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="id_Country" class="form-label">Degree Awarded</span></label>
                                    <input type="text" name="degreeawarded" id="degreeawarded"class="form-control border-left-0"placeholder="Degree Awarded" value="{{education_summary.degree_Awarded}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="id_Country" class="form-label">Degree Awarded On</span></label>
                                    <input type="text" name="degreeawarded" id="degreeawarded"class="form-control border-left-0"placeholder="Degree Awarded" value="{{education_summary.degree_Awarded}}">
                                 </div>
                                 <!--end col-->
                              </div>
                              <!--end row-->
                           </div>
                           <!-- Skip and Save & Proceed Buttons on the Right -->
                        </div>
                     </div>
                  </div>
                  <div class="accordion-item">
                     <h2 class="accordion-header" id="accordionborderedExample3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapse3" aria-expanded="false" aria-controls="accor_borderedExamplecollapse3">
                        Test Score Details
                        </button>
                     </h2>
                     <div id="accor_borderedExamplecollapse3" class="accordion-collapse collapse" aria-labelledby="accordionborderedExample3" data-bs-parent="#accordionBordered">
                        <div class="accordion-body">
                           <div>
                              <div class="row gy-4 mb-2">
                                 <div class="col-xxl-3 col-md-4">
                                    <label class="form-label" for="candidatename">Candidate Name</label>
                                    <input type="text" name="candidatename" id="candidatename"class="form-control border-left-0" placeholder="Enter Name" value="{{enquiry_id.FirstName}}">
                                 </div>
                                 <!--end col-->
                                 <div class="col-xxl-3 col-md-4">
                                    <label for="examtype" class="form-label">Exam Type</label>
                                    <select class="form-select" name="examtype" id="examtype">
                                       <option >Type</option>
                                       <option value="IELTS" >IELTS</option>
                                       <option value="PTE" >PTE</option>
                                       <option value="TOEFL" >TOEFL</option>
                                    </select>
                                 </div>
                                 <div class="col-xxl-3 col-md-4">
                                    <label class="form-label" for="examdate">Exam Date</label>
                                    <input type="date" name="examdate" id="examdate"class="form-control border-left-0" placeholder="Exam Date" >
                                 </div>
                                 <hr>
                                 <!--end col-->
                                 <!--end col-->
                                 <div class="col-xxl-3 col-md-4">
                                    <label for="reading" class="form-label">Reading</label>
                                    <input type="number" name="reading" id="reading"class="form-control border-left-0" placeholder="Enter Score" >
                                 </div>
                                 <div class="col-xxl-3 col-md-4">
                                    <label for="listening" class="form-label">Listening </label>
                                    <input type="number" name="listening" id="listening"class="form-control border-left-0" placeholder="Enter Score" >
                                 </div>
                                 <!--end col-->
                                 <div class="col-xxl-3 col-md-4">
                                    <label for="speaking" class="form-label">Speaking</span></label>
                                    <input type="number" name="speaking" id="speaking"class="form-control border-left-0" placeholder="Enter Score">
                                 </div>
                                 <div class="col-xxl-3 col-md-4">
                                    <label for="Country" class="form-label">Writing</span></label>
                                    <input type="number" name="writing" id="writing"class="form-control border-left-0" placeholder="Enter Score">
                                 </div>
                                 <div class="col-xxl-3 col-md-4">
                                    <label for="Country" class="form-label">OverallScore</span></label>
                                    <input type="number" name="overallscore" id="overallscore"class="form-control border-left-0" placeholder="Enter Score">
                                 </div>
                                 <div>
                                    <!-- Tables Without Borders -->
                                    <table class="table table-borderless table-nowrap">
                                       <thead>
                                          <tr>
                                             <th scope="col">SR No.</th>
                                             <th scope="col">Name</th>
                                             <th scope="col">Exam Type</th>
                                             <th scope="col">Exam Date</th>
                                             <th scope="col">Reading</th>
                                             <th scope="col">Speaking</th>
                                             <th scope="col">Listening</th>
                                             <th scope="col">Writing</th>
                                             <th scope="col">Overall Score</th>
                                             <th scope="col">Action</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                        {% for test_score in test_scores  %}
                                          <tr >
                                            <td>{{forloop.counter}}</td>
                                            <td>{{test_score.enquiry_id.FirstName}}</td>
                                            <td>{{test_score.exam_type}}</td>
                                            <td>{{test_score.exam_date}}</td>
                                            <td>{{test_score.reading}}</td>
                                            <td>{{test_score.speaking}}</td>
                                            <td>{{test_score.listening}}</td>
                                            <td>{{test_score.writing}}</td>
                                            <td>{{test_score.overall_score}}</td>
                                             <td>
                                                <div class="hstack gap-3 fs-15">
                                                   
                                                   <a href="{% url "delete_test_score" test_score.id %}" class="link-danger"><i class="ri-delete-bin-5-line"></i></a>
                                                   {% comment %} <a  class="link-danger" hx-delete="{% url 'delete_test_score' id=test_score.id %}" hx-confirm="Are you sure you want to delete this admin?" hx-target="#country-{{ country.pk }}" hx-swap="outerHTML"  hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'><i class="ri-delete-bin-5-line"></i></a> {% endcomment %}
                                                     
                                                </div>
                                             </td>
                                          </tr>
                                          {% endfor %}
                                       </tbody>
                                    </table>
                                 </div>
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                              </div>
                              
                              <!--end row-->
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-item">
                     <h2 class="accordion-header" id="accordionborderedExample4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapse4" aria-expanded="false" aria-controls="accor_borderedExamplecollapse4">
                        Work Details
                        </button>
                     </h2>
                     <div id="accor_borderedExamplecollapse4" class="accordion-collapse collapse" aria-labelledby="accordionborderedExample4" data-bs-parent="#accordionBordered">
                        <div class="accordion-body">
                           <div>
                              <div class="row gy-4 mb-2">
                                 <div class="col-xxl-3 col-md-6">
                                    <label class="form-label" for="companyname">Company Name</label>
                                    <input type="text" name="companyname" id="companyname"class="form-control border-left-0" placeholder="Enter Company Name" value="{{work_exp.company_name}}"> 
                                 </div>
                                 <!--end col-->
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="designation" class="form-label">Designation</label>
                                    <input type="text" name="designation" id="designation"class="form-control border-left-0" placeholder="Enter Designation" value="{{work_exp.designation}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label class="form-label" for="fromdate">From Date</label>
                                    <input type="date" name="fromdate" id="fromdate"class="form-control border-left-0" placeholder="Enter From Date" value="{{work_exp.from_date|date:"Y-m-d"}}">
                                 </div>
                                 <!--end col-->
                                 <!--end col-->
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="todate" class="form-label">To Date</label>
                                    <input type="date" name="todate" id="todate"class="form-control border-left-0" placeholder="Enter To Date" value="{{work_exp.to_date|date:"Y-m-d"}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="todate" class="form-label">Address</label>
                                    <input type="text" name="address" id="address"class="form-control border-left-0" placeholder="Enter Address" value="{{work_exp.address}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="todate" class="form-label">City</label>
                                    <input type="text" name="city" id="city"class="form-control border-left-0" placeholder="Enter City" value="{{work_exp.city}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="todate" class="form-label">State</label>
                                    <input type="text" name="state" id="state"class="form-control border-left-0" placeholder="Enter State" value="{{work_exp.state}}">
                                 </div>
                                 <div class="col-xxl-3 col-md-6">
                                    <label for="todate" class="form-label">Describe Work Details</label>
                                    <input type="text" name="workdetails" id="workdetails"class="form-control border-left-0" placeholder="Enter Message" value="{{work_exp.describe}}">
                                 </div>
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                              </div>
                              <!--end row-->
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="accordion-item">
                     <h2 class="accordion-header" id="accordionborderedExample5">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor_borderedExamplecollapse5" aria-expanded="false" aria-controls="accor_borderedExamplecollapse5">
                        Background Details
                        </button>
                     </h2>
                     <div id="accor_borderedExamplecollapse5" class="accordion-collapse collapse" aria-labelledby="accordionborderedExample5" data-bs-parent="#accordionBordered">
                        <div class="accordion-body">
                           <div>
                              <div class="row gy-4 mb-2">
                                 <div class="col-xxl-3 col-md-12">
                                    <label class="form-label" for="enqpassport">Has The Applicant Been To Australia Before?</label>
                                    <input type="text" name="australliabefore" id="australliabefore"class="form-control border-left-0" placeholder="" value="{{bk_info.background_information}}">
                                 </div>
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                                 <!--end col-->
                              </div>
                              <!--end row-->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <button class="btn btn-secondary btn-animation waves-effect waves-light" type="submit" >Update </button>
            </form>
            </div>
            <!--end tab-content-->
         </div>
      </div>
      <!--end col-->
   </div>
   <!--end row-->
</div>
<!-- container-fluid -->
</div>

{% endblock main-content %}